@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding-top: 60px;
}

nav {
    margin-bottom: 2rem;
    background-color: black;
    border: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
    
}

    nav .navbar-nav .nav-link {
        color: white;
        border: none;
    }

        nav .navbar-nav .nav-link:hover,
        nav .navbar-nav .nav-link.active {
            background-color: black;
            color: lightgray;
        }

section {
    border-bottom: 1px solid white;
    padding-bottom: 1.5rem;
    color: white;
}

form {
    max-width: 600px;
    margin: auto;
    color: white;
}

button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    font-size: 18px;
}

a {
    color: white;
    font-size: 18px;
}

    a:hover {
        color: lightgray;
    }

.carousel {
    background-color: black;
}

.carousel-caption {
    color: white;
}

.carousel-item img.actual-size {
    display: block;
    max-width: 150%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.parallax {
    background-image: url('slides/slide2.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

    body.dark-mode a {
        color: #ffffff;
    }

        body.dark-mode a:hover {
            color: lightgray;
        }

/* Dark mode toggle switch */
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-control-label::before {
    background-color: white;
    border: 1px solid #ddd;
    transition: background-color 0.3s, border-color 0.3s;
}
